.charm_quora *
{
	line-height:16px;
	color: #333;
	font-family: "Helvetica Neue",Helvetica,Arial,default;
}
.charm_quora
{
	width:120px;
	position:fixed;
	display:none;
	max-height:300px;
	overflow:auto;
	top:200px;
	font-family: "Helvetica Neue",Helvetica,Arial,default;
	background-color: #F7F7F7;
	border-radius: 10px;
	border: 1px solid #A7A7A7;
	padding: 10px;
	font-size:12px;
	z-index: 999;
}

.charm_quora .title
{
	font-weight:bold;
	padding-bottom: 5px;
	border-bottom: 1px solid #C7C7C7;
}

.charm_quora .result
{
	padding: 5px 0px;
}

.charm_quora .result .result_item
{
	padding-bottom: 4px;
}

.charm_quora .result_item
{
	cursor: pointer;
}

.charm_quora .result_item:hover
{
	text-decoration: underline;
}

.charm_quora .charm_quora a
{
	color: #19558D;
	font-weight:normal;
	text-decoration:none;
}

.charm_quora .result_item
{
	color: #19558D;	
}

.charm_quora .link
{
	font-size:12px;
	font-weight:normal;
	text-decoration:none;
	color: #538DC2;
}

.charm_quora .link_alt
{
	font-size:12px;
	font-weight:normal;
	text-decoration:none;
	color: #AAA;
}

.charm_quora .link:hover
{
	text-decoration: underline;
	color: #19558D;
}

.charm_quora .link_alt:hover
{
	color: #538DC2;
	text-decoration: underline;	
}

.charm_quora #charm_set
{
	height:23px;
	width:120px;
}
