*
{
	padding: 0px;
	margin: 0px;
	color: #AAA;
}

a
{
	text-decoration: none;	
}

body
{
	font-family: "Helvetica Neue",Helvetica,Arial,default;
    font-size: 80%;
}

.container
{
	min-width:400px;
	min-height: 150px;
	background-color: #F7F7F7;
	border-radius: 10px;
}

.header
{
    background: none repeat scroll 0 0 #384042;
    min-height: 41px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.header .header_logo
{
	background: url("http://qsf.cf.quoracdn.net/-ad7f0e6f6fdd7086.gif") no-repeat transparent center top;
	background-color: #A82400;
	border-top-left-radius: 10px;
	float:left;
	height: 41px;
	width: 82px;
	cursor: pointer;
}

.header .menu
{
	float:right;
}

.content
{
	padding: 10px;
}

.menu ul
{
	list-style: none outside none;
	margin-right: 10px	
}

.menu li
{
	float:left;
	padding: 13px 7px;
}

.menu a
{
    color: #B9BBBC;
    font-weight: bold;
    position: relative;
}

.menu a:hover
{
    color: #FAFAFA;
}

.search
{
	text-align: center;
	padding: 10px;
	position:relative;
}

.search input
{
	width:95%;
	height:30px;
	font-size:14px;
	padding: 0px 4px;
}

.search .suggestion
{
	width: 94%; 
	max-height:300px; 
	position: absolute;
	text-align:left;
	background-color: #F7F7F7;
	overflow:auto;
	border: 1px solid #E7E7E7;
	color:#333;
	display: none;
}

.post
{
	padding:10px;
	padding-left: 12px;
}

.count
{
    background: none repeat scroll 0 0 #A82400;
    border-bottom: 1px solid #920000;
    font-size: 0.8em;
    line-height: 1.2em;
    margin: 0;
    padding: 1px 5px;
    position: absolute;
    right: -10px;
    top: -5px;
    border-radius: 10px 10px 10px 10px;
    color: #FFF;
}

.notifications
{
	margin :10px 12px 5px 13px;
	padding: 5px;
	display:none;
	border: 1px solid #19558D;
	background-color: #D6E4F0;
	border-radius: 5px;
	color: #333;
}
.notifications .title
{
	font-weight:bold;
	border-bottom: 1px solid #666;
	padding-bottom: 4px;
}
.notifications .title
{
	color:#333;
}
.notifications a
{
	color: #19558D;
}

.notifications a:hover
{
	text-decoration:underline;
}
.notification_content
{
	color:#333;
	padding: 5px 0px;
	max-height:300px;
	overflow-x: none;
	overflow-y: auto;
}

.notification_content *
{
	color:#333;
}

.separator
{
	font-size:1px;
	line-height:2px;
	height:4px;
}

.suggestion_item
{
	min-height: 30px;
	cursor: pointer;	
	padding: 5px 11px;	
	color:#333;
}

.suggestion_item .title
{
	color:#333;
}

.suggestion_item .title span.match
{
	color:#333;
	font-weight: bold;
}

.suggestion_item .title span.faded
{
	color:#333;
	font-size:11px;
	display:block;
}

.suggestion_item .title .pic
{
	display:none;
}

.suggestion_item .des
{
	color:#333;
	font-size:11px;
}

.note
{
	color:#333;
	padding:11px;
}

.selected
{
	background-color:#A7A7A7;
}

.button
{
    background-color: #19558D;
    background-image: url("images/-adc3ffa834bd19c3.gif");
    border-bottom: 1px solid #062C50;
    border-color: #19558D #19558D #062C50;
    color: #FFFFFF;
    min-width: 40px;
    text-shadow: 0 1px #19558D;
    border-color: #BBBBBB #BBBBBB #999999;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    font-size: 0.9em;
    font-weight: bold;
    padding: 3px 10px;
    text-align: center; 
}
